#title {
    background-color:#59C1BD;
    color:#fff;
}
h1{
    padding:20px 0;
    color: transparent;
   -webkit-text-stroke: 1px white ;
   background: url(back.png);
   background-clip: text;
   -webkit-background-clip: text;
   background-position: 0 0;
   animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.container-fluid{
    padding: 3% 7%;
}
.butns{
    margin-top: 0;
}
.navbar-brand{
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 2em;
}
.navbar-item{
    padding:0 12px;
}
.btn{
    padding: 0 15px;
    margin: 0 5px;
}
.title-img{
width: 65%;
margin-left: 125px;

transform: rotate(0deg);
}
.row{
    height: 200px;
}
.dashboards ,.contactsus ,.aboutUs{
    width: 100%; 
    padding: 30px;
}
.dashboards{
    width: 100%;
   border: 2px solid black;
    padding: 30px;
    margin: 50px 0 60px 0;
}
.contactsus{
    background-color: #86d169;
    color: aliceblue;
    padding: 15px;
}
.contactsus dd,.contactsus dt{
    margin: 1%;
}
.tphone dd::before{
    content: "\1F57F";
    margin-right: 10px;
}
.what dd::before{
    content: url("whatsapplogo.png");
    margin-right: 10px;
}
.em dd::before{
    content: "\1F4E7";
    margin-right: 10px;
}
.discord dt::before{
    content: url("discordlogo.png");
    margin-right: 10px;
}
