#title {
    background-color:#59C1BD;
    color:#fff;
}
h1{
    padding:20px 0;
    color: transparent;
   -webkit-text-stroke: 1px white ;
   background: url(back.png);
   background-clip: text;
   -webkit-background-clip: text;
   background-position: 0 0;
   animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
.container-fluid{
    padding: 3% 7%;
}
.butns{
    margin-top: 0;
}
.navbar-brand{
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 2em;
}
.navbar-item{
    padding:0 12px;
}
.btn{
    padding: 0 15px;
    margin: 0 5px;
}
.title-img{
width: 65%;
margin-left: 125px;

transform: rotate(0deg);
}
.row{
    height: 200px;
}
