body{
    background-image: linear-gradient(#005f73,#774c60);
    margin: 30px 40px 20px 40px;
    color: red;
}
legend{
    text-align: center;
}
fieldset
{   background-color: #fff2b2;
    padding: 20px 70px 20px 80px ;
    border: 3px dotted black;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #a63c06;
    background-color: #fff2b2;
    text-shadow: 0px 0px 2px black;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid black;
}
.textpart , .numberpart ,.radiopart ,.selectpart ,.datepart {
    margin: 10px 0 25px 0;
    font-size: larger;
    font-style: bolder;
}
.textpart:hover , .numberpart:hover ,.datepart:hover ,.radioitem:hover{
    text-decoration: underline;
 color: rgb(191, 209, 29);
}
.textpart input ,.datepart input ,.numberpart input{
    width: 300px;
    margin-top: 4px;
    padding: 5px;
    border: 1px soild black;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 4px 4px #d49a13;
}
.selectspart select{
 appearance: none;
 background: rgb(9, 26, 49);
 width: 150px;
 height:30px;
 color: antiquewhite;
 border-radius: 15px;
 padding: 4px;
box-shadow: 2px 2px rgb(43, 41, 41); 
}
.selectspart select:hover{
    color: rgb(9, 26, 49);
    background: white;
    font-style: bolder;
}

.radioitem label{

    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}
.submission input{
    margin: 25px 0 20px 50px;
    padding: 10px;
    font-weight: bolder;
    color: aliceblue;
    background-color: black;
    width: 160px;
    border-radius: 20px;
}.submission input:hover{
    color: black;
    background-color: white;
}